@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;

}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:1;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul{
  list-style-type: none;
}

li{
  display: inline;
  padding-left: 8px;
  
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  padding: 8px;
 }



.link{
  color: black;
}

a{
  text-decoration: none;
}

.footer{
  background-color: #eeeeee;
  margin-top: auto;
}

.right-links{
  padding-right: 8px;
}